<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="/public/main.css" rel="stylesheet">

    <title>Home</title>
  </head>
  <body>
      <%- include('nav.html')%>

      <div class="jumbotron">
        <% if(name != "not login"){ %>
          <h1 class="display-4">어서오세요, <%= name%>님!</h1>
        <% }else {%>
          <h1 class="display-4">로그인을 해주세요.</h1>
          <% } %>
        <p class="lead">계획을 세우고 생활하여 일상을 더욱 알차게 보냅시다.</p>
        <hr class="my-4">
        <p>오늘의 일정을 작성해보세요.</p>
        <% if(name != "not login"){ %>
          <a class="btn btn-primary btn-lg" href="/write" role="button">일정 작성</a>
          <a class="btn btn-outline-secondary" href="/logout" role="button">로그아웃</a>
        <% }else {%>
          <a class="btn btn-primary btn-lg" href="/login" role="button">로그인</a>
          <% } %>
      </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>